# Role R Likelihood-free Simulation Based Inference

In [1]:
from roler.model import ModelPrior
from roler.distributions import *

## Defining the Model Prior

This cell defines the prior distributions and fixed values for the simulation model using the `ModelPrior` class. This object will be used to sample parameter values for each simulation run.

In [2]:
prior = ModelPrior(
    individuals_local=IntDistribution(50, 300),
    individuals_meta=IntDistribution(400, 1000),
    species_meta=50,
    speciation_local=0.05,
    speciation_meta=0.05,
    extinction_meta=0.05,
    env_sigma=0.5,
    trait_sigma=1,
    comp_sigma=0.5,
    dispersal_prob=0.1,
    mutation_rate=0.01,
    equilib_escape=1,
    num_basepairs=250,
    init_type='oceanic_island',
    niter=2000,
    niterTimestep=10
)

## Running a Single Simulation and Extracting Summary Statistics

This cell executes a single simulation run. First, it initializes a `Simulator` object. Then, it samples a set of parameter values (`theta`) from the `prior` distribution defined in the previous cell. Finally, it runs the simulation using these sampled parameters and stores the resulting summary statistics in the `stats` variable. The `stats` variable is then printed to display the simulation output.

In [4]:
from roler.simulation import Simulator

simulator = Simulator()
theta = prior.sample()
stats = simulator.simulate(theta)
stats

,hill_abund_1,hill_abund_2,hill_abund_3,hill_abund_4,hill_gen_1,hill_gen_2,hill_gen_3,hill_gen_4,hill_trait_1,hill_trait_2,hill_trait_3,hill_trait_4,hill_phy_1,hill_phy_2,hill_phy_3,hill_phy_4,richness,iteration
1,1.000000,1.000000,1.000000,1.000000,1.0,inf,inf,inf,NaN,NaN,NaN,NaN,1,2,3,4,1,0.0
2,1.094011,1.028844,1.021608,1.019184,1.0,inf,inf,inf,14.843685,14.697666,14.681077,14.675498,1,2,3,4,4,10.0
3,1.161415,1.048770,1.036450,1.032335,1.0,inf,inf,inf,15.049338,14.793404,14.764324,14.754549,1,2,3,4,6,20.0
4,1.161415,1.048770,1.036450,1.032335,1.0,inf,inf,inf,15.049477,14.793430,14.764337,14.754558,1,2,3,4,6,30.0
5,1.270169,1.079762,1.059396,1.052626,1.0,inf,inf,inf,15.341869,14.935647,14.889464,14.873950,1,2,3,4,9,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,14.862677,8.307579,6.093503,5.184608,1.0,inf,inf,inf,18.210026,11.490084,8.904854,7.719540,1,2,3,4,31,1960.0
198,15.372799,8.429107,6.127118,5.195252,1.0,inf,inf,inf,18.894488,11.781597,9.096180,7.874200,1,2,3,4,33,1970.0
199,14.903004,8.470411,6.300022,5.383693,1.0,inf,inf,inf,18.348883,11.390985,8.768052,7.569279,1,2,3,4,33,1980.0
200,15.115653,8.626488,6.430820,5.497444,1.0,inf,inf,inf,18.885358,11.678424,8.949325,7.705026,1,2,3,4,33,1990.0
201,14.887671,8.541239,6.394207,5.481645,1.0,inf,inf,inf,18.407218,11.452686,8.780248,7.558624,1,2,3,4,32,2000.0

## Generating a Dataset of Simulations

This cell generates a dataset of simulation results using the `Dataset` class. It initializes a `Dataset` object with the previously defined `simulator` and `prior`. The `generate_dataset` method is then called to generate `samples=10` simulation runs. The resulting parameter values (`theta`) and summary statistics (`x`) are stored. Finally, the shapes of `theta` and `x` are printed to show the dimensions of the generated dataset.

In [5]:
from roler.datasets import Dataset

dataset = Dataset(simulator=simulator, prior=prior)
theta, x = dataset.generate_dataset(samples=10)

print("theta.size", theta.shape)
print("x.size", x.shape)

theta.size torch.Size([1994, 2])
x.size torch.Size([1994, 9])